<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    	{% if user_id %}
    	<table><tbody>
    	<th>Users</th>
    		{% for user in user_id %}
    			<tr class="success">
        		<td><strong><a href="{{user.nickname}}/">{{ user.nickname }}</a></strong></td>
        		</tr>
   			 {% endfor %}
    	</tbody></table>
		{% else %}
    		<p>No users are available.</p>
		{% endif %}
  </body>
</html>